@using Necropolis.Models

@{
    ViewBag.Title = "Information";
    ViewBag.Description = "";
    ViewBag.MenuTab = "information";
    Layout = "~/Views/Shared/_Layout.cshtml";


    List<InformationItemModel> informationArticles = Model;

}
@section Scripts
{
    <script src="~/Scripts/site/scroller.js"></script>
}
<div class="row">

    <div class="span12">
        <div class="wrap">
            <h1 class="lines">Информация и важные вопросы</h1>
        </div>
        <h4 class="h4-padding">
            Многие просто не знают, что делать, куда обращаться, как организовать похороны...
        </h4>
        <p class="">
            Рано или поздно всем нам приходится сталкиваться со смертью близких людей.
            Несмотря на то, что умом все осознают неизбежность окончания земной жизни,
            на подсознательном уровне человек, как правило, отказывается в это верить,
            и поэтому зачастую трагедия застает нас врасплох. В такие моменты на второй план отходит абсолютно все.
        </p>
        <div class="vensel-big">
            <img src="../../Content/images/necropolis-vensel.png" />
        </div>

    </div>
</div>

<div class="row">



    <div class="span6">

        <div class="wrap">
            <h2 class="lines">Важные вопросы</h2>
        </div>

        <ul class="list list-padding information-list">
            @{
                var questions = informationArticles.Where(i => i.Type == InformationItemType.Вопрос).ToList();
                if (questions.Any())
                {
                    foreach (var informationArticle in questions)
                    {

                    <li>
                        <a href="#@informationArticle.RouteName">
                            @informationArticle.Title
                        </a>
                    </li>
                    }
                }
            }
        </ul>
    </div>
    <div class="span5">

        <div class="wrap">
            <h2 class="lines">Информационные статьи</h2>
        </div>

        <ul class="list list-padding information-list">
            @{
                var articles = informationArticles.Where(i => i.Type == InformationItemType.Информационная_статья).ToList();
                if (articles.Any())
                {
                    foreach (var informationArticle in articles)
                    {

                        <li>
                            <a href="#@informationArticle.RouteName">
                                @informationArticle.Title
                            </a>
                        </li>
                            }
                        }
            }
        </ul>
    </div>

    <div class="span12">
        <div class="vensel-big">
            <img src="../../Content/images/necropolis-vensel.png" />
        </div>
    </div>
</div>


@foreach (var informationArticle in informationArticles)
{
    <div class="row">

        <div class="span12"
             @if (informationArticle.Type == InformationItemType.Вопрос) { <text> itemscope itemtype="http://schema.org/Question" </text>      }>
            <div class="wrap" id="@informationArticle.RouteName">
                <h2 class="lines"
                    @if (informationArticle.Type == InformationItemType.Вопрос) { <text> itemprop="name" </text>      }>

                    @informationArticle.Title
                </h2>
            </div>
            <div class="center-text left"
                 @if (informationArticle.Type == InformationItemType.Вопрос) { <text> itemprop="acceptedAnswer" itemscope itemtype="http://schema.org/Answer" </text>      }>
                @(new HtmlString(informationArticle.Text.Replace("<ul>", "<ul class='list list - padding'>")))
            </div>

            <div class="vensel-big">
                <img src="../../Content/images/necropolis-vensel.png" />
            </div>
        </div>
    </div>
}
