@using Necropolis.Models
@model IEnumerable<Necropolis.Models.CatalogItemModel>

@{
    ViewBag.Title = "Редактор";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.MenuTab = "catalog";

    var type = "";
    var catalog = Model;
    var forType = Request.QueryString["type"] != null;

    if (forType)
    {
        type = Request["type"];
        catalog = Model.Where(i => i.Type.ToString().ToLower() == type.ToLower());
    }
}





<div class="container">
    <div class="row">
        <div class="span4">
            <div class="wrap one-line-heading">
                <h2 class="line sub-categories-handler">
                    Показать @if (forType)
                    {
                    @String.Concat("- ", type.Replace("_", " "));
                    }
                    else
                    { @String.Concat("- ", "все");
                    }
                </h2>
            </div>
            <ul class="list list-padding sub-categories">
                <li><a href="@Url.Action("index", "CatalogEditor")">Все</a></li>
                <li><a href="@Url.Action("index", "CatalogEditor", new {@type = "кресты"})">Кресты</a></li>
                <li><a href="@Url.Action("index", "CatalogEditor", new {@type = "памятники"})">Памятники</a></li>
                <li><a href="@Url.Action("index", "CatalogEditor", new {@type = "траурные_ленты"})">Траурные ленты</a></li>
                <li><a href="@Url.Action("index", "CatalogEditor", new {@type = "венки"})">Венки</a></li>
                <li><a href="@Url.Action("index", "CatalogEditor", new {@type = "гробы"})">Гробы</a></li>
                <li><a href="@Url.Action("index", "CatalogEditor", new {@type = "другие_товары"})">Другие товары</a></li>
            </ul>
        </div>

        <div class="span8">
            <div class="wrap one-line-heading">
                <h2 class="line">Редактор каталога</h2>
            </div>
        </div>
        <div class="span12">

            <table class="table">
                <tr>
                    <th class="span3">
                        Раздел каталога
                    </th>
                    <th class="span3">
                        Изображение
                    </th>
                    <th class="span3">
                        Стоимость
                    </th>
                    <th>
                        @Html.ActionLink("Добавить", "Create")
                    </th>
                </tr>

                @foreach (var item in catalog)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Type)


                        </td>
                        <td>
                            <div class="thumbnails collection span3">

                                <div class="thumbnail" style="height: 200px; background-image: url(@Html.DisplayFor(modelItem => item.ImagePreview)); background-size: cover; background-repeat: no-repeat;">
                                    <a href="@Html.DisplayFor(modelItem => item.Image)" class="magnifier">
                                    </a>
                                </div>
                            </div>

                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Price) руб
                        </td>
                        <td>
                            @Html.ActionLink("Редактировать", "Edit", new {id = item.Id}) |

                            @Html.ActionLink("Удалить", "Delete", new {id = item.Id})
                        </td>
                    </tr>
                }

            </table>

        </div>
    </div>
</div>

