<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta charset="utf-8">
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="~/favicon.ico" type="image/x-icon" />
    <meta name="description" content="Похоронные и ритуальные услуги в ярославле">
    <meta name="keywords" content="Your keywords">
    <meta name="author" content="MnemoN">
    <!--[if (gt IE 9)|!(IE)]><!-->
    <script src="~/scripts/jquery.mobile.customized.min.js"></script>
    <!--<![endif]-->
    <!--[if lt IE 8]>
        <div style='text-align:center'><a href="http://www.microsoft.com/windows/internet-explorer/default.aspx?ocid=ie6_countdown_bannercode"><img src="http://www.theie6countdown.com/img/upgrade.jpg"border="0"alt=""/></a></div>
    <![endif]-->
    <!--[if lt IE 9]>
      <link rel="stylesheet" href="~/Content/ie.css" type="text/css" media="screen">
      <script src="~/Scripts/html5shiv.js"></script>
    <![endif]-->

    <title>Некрополь - @ViewBag.Title - похоронные и ритуальные услуги в Ярославле</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <header class="colomns-top">
        <div class="container">
            <div class="row">

                <div class="span12">
                    <h1 class="brand">
                        <a href="@Url.Action("Index", "Home")"><img class="logo" src="../../Content/images/logo.png" /></a>
                    </h1>
                    <div class="navbar_" id="menu-frame">
                        <div class="navbar-inner">
                            <ul class="nav sf-menu " id="menu" active-tab="@ViewBag.MenuTab">
                                <li id="home">@Html.ActionLink("Главная", "Index", "Home")</li>
                                <li id="services">
                                    <a href="#">Услуги</a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="@Url.Action("RitualServices", "Services")">Ритуальные услуги</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="@Url.Action("RitualServices", "Services", new {set = "muslim"})">Мусульманские похороны</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("RitualServices", "Services", new {set = "embalming" })">Бальзамирование</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("RitualServices", "Services", new {set = "cremation"})">Кремация</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("RitualServices", "Services", new {set = "transport"})">Транспортировка</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("RitualServices", "Services", new {set = "care"})">Уход за захоранениями</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("RitualServices", "Services", new {set = "contract"})">Прижизненный договор</a>
                                                </li>
                                            </ul>

                                        </li>
                                        <li><a href="@Url.Action("RitualHalls", "Services")">Ритуальные залы</a></li>
                                        <li>
                                            <a href="@Url.Action("FuneralSets", "Services")">Комплексы похоронных услуг</a>
                                            <ul class="sub-menu">
                                                <li>
                                                    <a href="@Url.Action("FuneralSets", "Services", new {set = "basic"})">Базовый</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("FuneralSets", "Services", new {set = "extended"})">Расширенный</a>
                                                </li>
                                                <li>
                                                    <a href="@Url.Action("FuneralSets", "Services", new {set = "premium"})">Премиум</a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li id="catalog">
                                    <a href="@Url.Action("Index", "Catalog")">
                                        Каталог
                                    </a>
                                    <ul class="sub-menu">
                                        <li><a href="#">Кресты</a></li>
                                        <li><a href="#">Памятники</a></li>
                                        <li><a href="#">Траурные ленты</a></li>
                                        <li><a href="#">Венки</a></li>
                                        <li><a href="#">Гробы</a></li>
                                        <li><a href="#">Другие товары</a></li>
                                    </ul>
                                </li>
                                <li id="information">
                                    <a href="@Url.Action("Information", "Information")">
                                        Информация
                                    </a>
                                    <ul class="sub-menu">
                                        <li>
                                            <a href="@Url.Action("Information", "Information", new {set = "сertificate_of_death"})">
                                                Как получить справку о смерти?
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Information", "Information", new {set = "master_of_ceremonies"})">
                                                Зачем приглашать церемониймейстера?
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Information", "Information", new {set = "orthodox_funeral"})">
                                                Православные похороны
                                            </a>
                                        </li>
                                        <li>
                                            <a href="@Url.Action("Information", "Information", new {set = "muslim_funeral"})">
                                                Мусульманские похороны
                                            </a>
                                        </li>
                                    </ul>

                                </li>
                                <li id="contacts">@Html.ActionLink("Контакты", "Contact", "Home")</li>
                            </ul>
                        </div>
                    </div>

                </div>
                <div class="span12 ">
                    <section class="social-block call">
                        <img src="~/Content/images/phone-icon.png" alt="">
                        <div class="phone">
                            <span class="social-title"><strong>Позвоните нам </strong></span><br />
                            <a class="social-title" href="tel:+4852733998">
                                <span>(4852) 733-998 (круглосуточно)</span>
                            </a>
                            <br />
                            <a class="social-title" href="tel:+4852942948">
                                <span>(4852) 942-948</span>
                            </a>
                            <br />
                            <span>Часы работы: круглосуточно</span>

                        </div>

                    </section>
                </div>
            </div>
        </div>
    </header>
    <div class="body-content colomns-middle">
        <div class="container">
            @RenderBody()
        </div>
    </div>
    <footer class="colomns-bottom">
        <div class="container">
            <div class="row">

                <div class="span12 ">
                    <section class="social-block">
                        <img src="~/Content/images/phone-icon.png" alt="">
                        <div class="phone">
                            <span class="social-title"><strong>Позвоните нам </strong></span><br />
                            <a class="social-title" href="tel:+4852733998">
                                <span>(4852) 733-998 (круглосуточно)</span>
                            </a>
                            <br />
                            <a class="social-title" href="tel:+4852942948">
                                <span>(4852) 942-948</span>
                            </a>
                            <br />
                            <span>Часы работы: круглосуточно</span>

                        </div>

                    </section>
                </div>
            </div>
            <div class="row">
                <div class="span12">
                    NECROPOLIS &copy; @DateTime.Now.Year &nbsp; | Городской Ритуальный Центр | Полный комплекс ритуальных услуг в Ярославле
                </div>
            </div>
        </div>
    </footer>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
