@{
    ViewBag.Title = "главная страница";
    ViewBag.MenuTab = "home";

}
<div id="content" class="padding-content">

    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="wrap">
                    <h1 class="lines">Похоронный дом Некрополь - полный комплекс ритуальных услуг в Ярославле</h1>
                </div>

                <div class="vensel-big">
                    <img src="../../Content/images/necropolis-vensel.png">
                </div>            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="wrap">
                    <h2 class="lines">Что делать если умер близкий человек?</h2>
                </div>
                <p class="section-description">
                    Уход близкого человека всегда внезапен и трагичен… Мы соболезнуем Вашей утрате и возьмем на себя все заботы о достойных проводах в последний путь…
                </p>
                <div class="section-list">
                    <ul class="thumbnails collection">
                        <li class="span3 category">
                            <div class="thumbnail">
                                <span class="title">1</span>
                                <p class="description">Вызвать ритуального агента по круглосуточному номеру <a href="tel:+4852733998">(4852) 733-998</a>, который возьмет на себя все хлопоты по вызову необходимых служб, взаимодействию с ними и оформлению необходимых документов.</p>
                                <div class="vensel"></div>
                            </div>
                        </li>
                        <li class="span1 category">
                            <div class="thumbnail">
                            </div>
                        </li>
                        <li class="span3 category">
                            <div class="thumbnail">
                                <span class="title">2</span>
                                <p class="description">Выбрать необходимые товары и ритуальные принадлежности для траурной церемонии.</p>
                                <div class="vensel"></div>
                            </div>
                        </li>
                        <li class="span1 category">
                            <div class="thumbnail">
                            </div>
                        </li>
                        <li class="span3 category">
                            <div class="thumbnail">
                                <span class="title">3</span>
                                <p class="description">Приехать к нам в офис по адресу г. Ярославль, ул. Загородный сад, 11 (территория больницы им. Соловьева) для оформления заказа и уточнения деталей.</p>
                                <div class="vensel"></div>
                            </div>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="wrap">
                    <h2 class="lines">Стоимость организации похорон</h2>
                </div>
                <p class="section-description">
                    Независимо от стоимости похорон, любая траурная церемония будет проведена на высшем уровне и с должным уважением к усопшему и его семье.
                </p>
                <div class="section-options">
                    <ul class="thumbnails collection">
                        <li class="span3 category col-centered">
                            <a href="@Url.Action("FuneralSets", "Services", new { set = "basic"})">
                                <div class="thumbnail dark">
                                    <span class="title">Базовый</span>
                                    <p class="description">Минимальный набор товаров и услуг необходимых для погребения.</p>
                                    <div class="vensel"></div>
                                    <span class="price">11 300 руб</span>
                                </div>
                            </a>
                        </li>
                        <li class="span3 category col-centered">
                            <a href="@Url.Action("FuneralSets", "Services", new { set = "extended"})">
                                <div class="thumbnail dark">
                                    <span class="title">Расширенный</span>
                                    <p class="description">Включает в себя все необходимые процедуры по проведению погребения.</p>
                                    <div class="vensel"></div>
                                    <span class="price">31 250 руб</span>
                                </div>
                            </a>
                        </li>
                        <li class="span3 category col-centered">
                            <a href="@Url.Action("FuneralSets", "Services", new { set = "premium"})">
                                <div class="thumbnail dark">
                                    <span class="title">Премиум</span>
                                    <p class="description">Похороны, подчеркивающие статус усопшего.</p>
                                    <div class="vensel"></div>
                                    <span class="price">62 150 руб</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="wrap">
                    <h2 class="lines">Ритуальные залы</h2>
                </div>
                <p>
                    <h4 class="h4-padding">
                        Ритуальный зал-это специально оборудованное помещение для прощания с покойным, где родные и близкие спокойно и без спешки отдадут все почести усопшему и проводят его в последний путь.
                    </h4>
                    Чтобы церемония прощания прошла на высшем уровне, при желании можно добавить услуги церемониймейстера.
                    Он проведет траурную церемонию, избавив вас от необходимости планировать мероприятие и от хлопот по его организации.
                    Прекрасно обученый и тактичный мастер своего дела найдет нужные слова и проявит внимание и уважение к близким усопшего.
                    Малый ритуальный зал вмещает в себя до 100 человек для проведения церемонии прощания, гражданской панихиды или ритаульных обрядов.
                    Большой ритауальный зал вмещает до 200 человек для проведения церемонии прощания, гражданской панихиды или ритаульных обрядов.
                </p>
                <ul class="thumbnails services">
                    <li class="span6">
                        <a href="@Url.Action("RitualHalls", "Services", new { set = "small" })" style="text-decoration: none;">
                            <div class="thumbnail">
                                <h4 class="center-text">Ритуальный зал малый</h4>
                                <img src="../../Content/images/hall/hall-small.jpg.[small].jpg" alt="">
                            </div>
                        </a>
                    </li>
                    <li class="span6">
                        <a href="@Url.Action("RitualHalls", "Services", new { set = "big" })" style="text-decoration: none;">
                            <div class="thumbnail">
                                <h4 class="center-text" >Ритуальный зал большой</h4>
                                <img src="../../Content/images/hall/hall-big.jpg.[small].jpg" alt="">
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
        </div>

    </div>
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="wrap one-line-heading">
                    <h2 class="line">Достоинства</h2>
                </div>
                <ul class="list list-padding">
                    <li class="advantage">
                        Опыт
                    </li>
                    <p class="advantage-description">
                        Похоронный дом Некрополь занимается организацией похорон в Ярославле уже более 20 лет
                    </p>
                    <li class="advantage">
                        Профессионализм
                    </li>
                    <p class="advantage-description">
                        Опытные сотрудники помогут Вам в любом вопросе и справятся с задачами любого уровня сложности
                    </p>
                    <li class="advantage">
                        Надежность
                    </li>
                    <p class="advantage-description">
                        Расширенный автопарк и наличие 2-х ритуальных залов позволяют нам избежать любых накладок и задержек при проведении похорон
                    </p>
                    <li class="advantage">
                        Порядочность
                    </li>
                    <p class="advantage-description">
                        Сотрудники похоронного дома Некрополь придерживаются «Этического кодекса ритуальной службы»
                    </p>
                    <li class="advantage">
                        Удобное расположение
                    </li>
                    <p class="advantage-description">
                        Похоронный дом Некрополь находится на территории Судебно-медицинской экиртизы Ярославской области, где родственники покойного получают медицинское свиетельство о смерти.
                        Таким образом, обращаясь к нам, Вы существенно экономите свое время.
                    </p>

                </ul>
            </div>
            <div class="span8 top-padding">
                <div class="vensel-big">
                    <img src="../../Content/images/necropolis-vensel.png" />
                </div>

                <p>
                    <strong>Некро́поль</strong> (дословно «город мёртвых», др.-греч. νεκρός — мёртвый, πόλις — город) — большое кладбище (подземные галереи, склепы, камеры), расположенное на окраине древних городов (в Египте, Малой Азии, Этрурии), с гробницами и каменными надгробиями.
                    В частности, так называют комплекс погребений древнего мира, например, Дипилонский некрополь в древних Афинах, в Древнем Египте — некрополь города Фивы с гробницами фараонов и знати, и многих др.
                    Римляне чаще располагали некрополи вдоль дорог для напоминания живущим о подвигах предков (наиболее известный — Римские катакомбы вдоль Аппиевой дороги).
                    Бог погребальных ритуалов у Древних Египтян Анубис был также богом некрополей.
                </p>
                <p>
                    Похоронный дом Некрополь занимается организацией похорон с 1997 года. Мы готовы предложить широкий спектр услуг, оказать помощь и содействие на любом этапе, а также полностью взять на себя все заботы о достойных проводах в последний путь. Вы можете доверить нам этот деликатный вопрос и быть полностью уверенными в качестве оказания услуг.
                </p>
                <p>
                    «Этический кодекс ритуальной службы» обязывает сотрудников и руководителей:
                    <ul>
                        <li>
                            Учитывать вероисповедание семьи усопшего
                        </li>
                        <li>
                            Избегать прямой рекламы своих услуг
                        </li>
                        <li>
                            Избегать проявления негативных привычек и черт характера
                        </li>
                    </ul>
                </p>
                <div class="vensel-big">
                    <img src="../../Content/images/necropolis-vensel.png" />
                </div>
            </div>
        </div>
    </div>

<div class="container">
    
    <div class="row">

        <div class="span12">
            <div class="wrap">
                <h2 class="lines">Ритуальные услуги</h2>
            </div>
            <h4 class="h4-padding">
                Прощание с близкими людьми и проводы их в последний путь не ограничиваются лишь трауной церимонией.
            </h4>
            <p class="">
                Похоронный дом Некрополь берет на себя все заботы по подготовке к прощанию и погребению, а также по уходу за местами захоронений и транспортировке тела умершего.
            </p>
            <div class="section-options">
                <ul class="thumbnails collection">
                    <li class="span3 category col-centered">
                        <a href="@Url.Action("RitualServices", "Services", new { set = "muslim" })">
                            <div class="thumbnail dark">
                                <span class="title">Мусульманские похороны</span>
                                <p class="description">Похоронный обряд в Исламе – предписывает четкое соблюдение множества норм и законов Шариата.</p>
                                <div class="vensel only"></div>
                            </div>
                        </a>
                    </li>
                    <li class="span3 category col-centered">
                        <a href="@Url.Action("RitualServices", "Services", new { set = "embalming" })">
                            <div class="thumbnail dark">
                                <span class="title">Бальзамирование</span>
                                <p class="description">При бальзамировании тело покойного обрабатывается специальными составами для его сохранения и дезодорации.</p>
                                <div class="vensel only"></div>
                            </div>
                        </a>
                    </li>
                    <li class="span3 category col-centered">
                        <a href="@Url.Action("RitualServices", "Services", new { set = "cremation" })">
                            <div class="thumbnail dark">
                                <span class="title">Кремация</span>
                                <p class="description">Кремация проводится в крематории г. Ярославля.</p>
                                <div class="vensel only"></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>
            <div class="section-options">
                <ul class="thumbnails collection">
                    <li class="span3 category col-centered">
                        <a href="@Url.Action("RitualServices", "Services", new { set = "transport" })">
                            <div class="thumbnail dark">
                                <span class="title">Транспортировка</span>
                                <p class="description">Транспортировка в другие регионы и страны.</p>
                                <div class="vensel only"></div>
                            </div>
                        </a>
                    </li>
                    <li class="span3 category col-centered">
                        <a href="@Url.Action("RitualServices", "Services", new { set = "care" })">
                            <div class="thumbnail dark">
                                <span class="title">Уход за захоранениями</span>
                                <p class="description">Вопрос ухода за местами захоронений наших близких-это вопрос нашей совести и памяти.</p>
                                <div class="vensel only"></div>
                            </div>
                        </a>
                    </li>
                    <li class="span3 category col-centered">
                        <a href="@Url.Action("RitualServices", "Services", new { set = "contract" })">
                            <div class="thumbnail dark">
                                <span class="title">Прижизненный договор</span>
                                <p class="description">Гарантируй себе достойные похороны заранее.</p>
                                <div class="vensel only"></div>
                            </div>
                        </a>
                    </li>
                </ul>
            </div>

            <div class="vensel-big">
                <img src="../../Content/images/necropolis-vensel.png"/>
            </div>
        </div>
    </div>
</div>

    <div class="container">
        <div class="row">
            <div class="span12">

                <div class="wrap">
                    <h2 class="lines">Каталог товаров</h2>
                </div>
                <p class="section-description">
	                Траурное убранство является неотъемлемой частью траурной церемонии.
					Выбранные Вами ритуальные принадлежности подчеркнут Вашу заботу об усопшем и сделают церемонию особенной.
                </p>
                <div class="section-options">
                    <ul class="thumbnails collection">
                        <li class="span3 category col-centered">
                            <a href="@Url.Action("index", "Catalog", new {@type="кресты"})">
                                <div class="thumbnail">
                                    <img class="category-icon" src="../../Content/images/catalog/icons/crosses.png" />
                                    <span class="title bottom">Кресты</span>
                                </div>
                            </a>
                        </li>
                        <li class="span3 category col-centered">
                            <a href="@Url.Action("index", "Catalog", new {@type="венки"})">
                                <div class="thumbnail">
                                    <img class="category-icon" src="../../Content/images/catalog/icons/wreaths.png" />
                                    <span class="title bottom">Венки</span>
                                </div>
                            </a>
                        </li>
                        <li class="span3 category col-centered">
                            <a href="@Url.Action("index", "Catalog", new {@type="гробы"})">
                                <div class="thumbnail">
                                    <img class="category-icon" src="../../Content/images/catalog/icons/coffins.png" />
                                    <span class="title bottom">Гробы</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                    <div class="vensel-big">
                        <img src="../../Content/images/necropolis-vensel.png" />
                    </div>
                    <ul class="thumbnails collection">
                        <li class="span3 category col-centered">
                            <a href="@Url.Action("index", "Catalog", new {@type="памятники"})">
                                <div class="thumbnail">
                                    <img class="category-icon" src="../../Content/images/catalog/icons/monuments.png" />
                                    <span class="title bottom">Памятники</span>
                                </div>
                            </a>
                        </li>
                        <li class="span3 category col-centered">
                            <a href="@Url.Action("index", "Catalog", new {@type="траурные_ленты"})">
                                <div class="thumbnail">
                                    <img class="category-icon" src="../../Content/images/catalog/icons/mourning_tape.png" />
                                    <span class="title bottom">Траурные ленты</span>
                                </div>
                            </a>
                        </li>
                        <li class="span3 category col-centered">
                            <a href="@Url.Action("index", "Catalog", new {@type="другие_товыры"})">
                                <div class="thumbnail">
                                    <img class="category-icon" src="../../Content/images/catalog/icons/candel.png" />
                                    <span class="title bottom">Другие товары</span>
                                </div>
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="wrap">
                    <h2 class="lines">Адрес</h2>
                </div>
                <address class="address" itemscope itemtype="http://schema.org/PostalAddress">
                    <span itemprop="postalCode">150003</span>,
                    г.<span itemprop="addressLocality"> Ярославль</span>,
                    <br>
                    <span itemprop="streetAddress">ул. Загородный сад, д. 11 (территория б-цы им. Соловьёва)</span><br>
                    Въезд с ул. Харитонова,<br>

                    Телефон(круглосуточно): <span itemprop="telephone">(4852) 73-39-98</span>,
                    <br>
                    Телефон: <span itemprop="telephone">(4852) 94-29-48</span>,
                    <br>
                    Телефон: <span itemprop="telephone">(4852) 93-20-72</span>
                    <br>
                    E-mail: <a href="#"><span itemprop="email">yargorcentr@gmail.com</span></a>
                </address>
                <div class="vensel-big">
                    <img src="../../Content/images/necropolis-vensel.png">
                </div>

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="span12">
                <div class="map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2135.5230415967812!2d39.862218116317344!3d57.639595281099766!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46b2917af4137cab%3A0x3bd409614488cdf7!2z0J3QtdC60YDQvtC_0L7Qu9GMLCDQv9C-0YXQvtGA0L7QvdC90YvQuSDQtNC-0Lw!5e0!3m2!1sru!2sru!4v1489941988263" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>
</div>

